* {
  margin: 0;
  padding: 0; }

.estiloh1, .main .main__titulo .titulo__index, .can .can__titulo .titulo__can {
  color: transparent;
  font-style: normal;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  text-transform: capitalize;
  font-size: 6vw;
  background: linear-gradient(180deg, #C0C0C0 0%, #393939 100%);
  -webkit-background-clip: text;
  position: relative;
  padding: 10px 10px 10px 10px; }

h2 {
  color: transparent;
  background: linear-gradient(180deg, #C0C0C0 0%, #393939 100%);
  -webkit-background-clip: text;
  font-style: normal;
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  padding: 10px 10px 30px 10px; }

p {
  color: #393939;
  font-style: normal;
  font-family: "Ubuntu", sans-serif;
  word-spacing: 5px;
  text-transform: none; }

/*ARRANCA CLASS HEADER*/
.header {
  background-color: #393939;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #eef5f5;
  display: flex;
  flex-direction: row;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  opacity: 80%; }
  .header .header__logo {
    opacity: 70%;
    background-color: #393939; }

/*TERMINA CLASS HEADER*/
/*ARRANCA CLASS MAIN*/
/*Main Home*/
.main {
  background-color: #C0C0C0; }
  .main .main__titulo .titulo__img {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto; }
  .main .main__grilla .grilla__aUno {
    grid-area: articulo1;
    width: 100%;
    height: 100%; }
  .main .main__grilla .grilla__aDos {
    grid-area: articulo2;
    width: 100%;
    height: 100%; }
  .main .main__grilla .grilla_divImg {
    display: flex;
    align-items: center;
    justify-content: center; }
    .main .main__grilla .grilla_divImg .divImg__fUno {
      grid-area: foto1;
      width: 80%;
      height: 80%; }
    .main .main__grilla .grilla_divImg .divImg__fDos {
      grid-area: foto2;
      width: 80%;
      height: 80%; }

/*Main Candidatos*/
.can {
  background-color: #C0C0C0; }
  .can .can__titulo .titulo__brujula {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto; }
  .can .can__formularios .formularios__candidatosA, .can .can__formularios .formularios__candidatosCV {
    flex-grow: 1;
    border-radius: 16px;
    margin: 16px;
    background-color: lightgray;
    width: 95%;
    height: 100%;
    text-align: center;
    opacity: 90%; }
    .can .can__formularios .formularios__candidatosA .candidatosA__agenda, .can .can__formularios .formularios__candidatosCV .candidatosA__agenda, .can .can__formularios .formularios__candidatosCV .candidatosCV__cv {
      color: #3a4944;
      text-align: center;
      text-decoration: none;
      font-style: normal;
      font-family: "Ubuntu", sans-serif;
      word-spacing: 10px;
      text-transform: none; }

/*Main empresas*/
.empresas {
  background-color: #C0C0C0; }
  .empresas .empresas__p {
    text-align: center;
    padding: 10px; }

/*Main Quien Somos?*/
.qs {
  background-color: #C0C0C0; }

#quienSomosSection {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.quienSomos {
  border-radius: 16px;
  margin: 16px;
  background-color: lightgray;
  width: 40%;
  opacity: 80%; }

.imagenQuienSomos {
  display: flex;
  justify-content: center;
  background-size: contain;
  background-color: #e2d6d6;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px; }

.contenidoQuienSomos {
  padding: 16px 8px 16px 8px;
  color: #302f2e;
  font-style: normal;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  text-align: center; }

.tituloQuienSomos {
  padding-bottom: 8px;
  color: #3a2108;
  font-style: normal;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  text-transform: capitalize;
  font-size: 20px; }

#servicios {
  color: #302f2e;
  padding: 16px 8px 16px 8px;
  font-style: normal;
  font-family: 'Rubik', sans-serif;
  font-size: 40px;
  text-align: center; }

/*Main Contacos*/
.contactos {
  background-color: #C0C0C0; }
  .contactos .contactos__formulario {
    color: #3a4944;
    text-decoration: none;
    text-align: left;
    font-style: normal;
    font-family: 'Ubuntu', sans-serif;
    word-spacing: 10px;
    text-transform: none;
    padding: 0px 10px 0px 10px; }
    .contactos .contactos__formulario .formulario__form {
      border-radius: 16px;
      background-color: lightgray;
      opacity: 90%;
      width: 100%;
      padding: 10px; }

/*TERMINA CLASS MAIN*/
/*ARRANCA CLASS FOOTER*/
.footer {
  background-color: #393939;
  height: 100px; }
  .footer .footer__nav {
    display: flex;
    background-color: #393939;
    background: linear-gradient(180deg, #C0C0C0 0%, #393939 100%);
    color: #3c5555;
    list-style-type: none;
    font-family: "Rubik", sans-serif;
    font-weight: 200;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%; }
    .footer .footer__nav .nav__item .item__imagen {
      padding-top: 10px;
      width: 50px; }

/*TERMINA CLASS FOOTER*/
/*Medias Query*/
@media only screen and (max-width: 600px) {
  #grilla {
    display: grid;
    height: 1200px;
    grid-template-columns: 100%;
    grid-template-rows: 250px 250px 250px 250px;
    grid-template-areas: "foto1" "articulo1" "foto2" "articulo2";
    justify-content: center;
    grid-column-gap: 20px;
    grid-row-gap: 20px; }
  .divImg__fUno {
    grid-area: foto1;
    width: 70%;
    height: 70%; }
  .divImg__fDos {
    grid-area: foto2;
    width: 70%;
    height: 70%; }
  .grilla__divImg {
    display: flex;
    align-items: center;
    justify-content: center; }
  .grilla__aUno {
    grid-area: articulo1;
    width: 100%;
    height: 100%;
    padding: 0px 20px; }
  .grilla__aDos {
    grid-area: articulo2;
    width: 100%;
    height: 100%;
    padding: 0px 20px; }
  .grilla__aDos h2 {
    text-align: center; }
  #grillaCandidatos {
    display: grid;
    height: 1200px;
    grid-template-columns: 100%;
    grid-template-rows: 500px 600px;
    grid-template-areas: "formularioAgenda" "formularioCV";
    justify-content: center;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 16px; }
  .empresas__grilla {
    height: 100%;
    display: grid;
    grid-template-columns: 25% 25%;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    grid-template-areas: "foto1 foto2"  "foto3 foto4" "foto5 foto6"  "foto7 foto8" "foto9 foto10"  "foto11 foto12";
    justify-content: center;
    grid-column-gap: 20px;
    grid-row-gap: 20px; }
  .fotoUno {
    grid-area: foto1;
    width: 90%;
    height: 90%; }
  .fotoDos {
    grid-area: foto2;
    width: 90%;
    height: 90%; }
  .fotoTres {
    grid-area: foto3;
    width: 90%;
    height: 90%; }
  .fotoCuatro {
    grid-area: foto4;
    width: 90%;
    height: 90%; }
  .fotoCinco {
    grid-area: foto5;
    width: 90%;
    height: 90%; }
  .fotoSeis {
    grid-area: foto6;
    width: 90%;
    height: 90%; }
  .fotoSiete {
    grid-area: foto7;
    width: 90%;
    height: 90%; }
  .fotoOcho {
    grid-area: foto8;
    width: 90%;
    height: 90%; }
  .fotoNueve {
    grid-area: foto9;
    width: 90%;
    height: 90%; }
  .fotoDiez {
    grid-area: foto10;
    width: 90%;
    height: 90%; }
  .fotoOnce {
    grid-area: foto11;
    width: 90%;
    height: 90%; }
  .fotoDoce {
    grid-area: foto12;
    width: 90%;
    height: 90%; } }

@media only screen and (min-width: 600px) {
  #grilla {
    display: grid;
    height: 1200px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px 400px;
    grid-template-areas: "foto1 articulo1" "articulo2 foto2";
    justify-content: center;
    grid-column-gap: 20px;
    grid-row-gap: 20px; }
  .divImg__fUno {
    grid-area: foto1;
    width: 75%;
    height: 75%; }
  .divImg__fDos {
    grid-area: foto2;
    width: 75%;
    height: 75%; }
  .grilla__divImg {
    display: flex;
    align-items: center;
    justify-content: center; }
  .grilla__aUno {
    grid-area: articulo1;
    width: 100%;
    height: 100%;
    padding: 0px 20px; }
  .grilla__aDos {
    grid-area: articulo2;
    width: 100%;
    height: 100%;
    padding: 0px 20px; }
  .grilla__aDos h2 {
    text-align: center; }
  #grillaCandidatos {
    display: grid;
    height: 650px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 600px;
    grid-template-areas: "formularioAgenda formularioCV";
    justify-content: center;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 16px; }
  .empresas__grilla {
    height: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-areas: "foto1 foto2 foto3"  "foto4 foto5 foto6" "foto7 foto8 foto9"  "foto10 foto11 foto12";
    justify-content: center;
    grid-column-gap: 20px;
    grid-row-gap: 20px; }
  .fotoUno {
    grid-area: foto1;
    width: 90%;
    height: 90%; }
  .fotoDos {
    grid-area: foto2;
    width: 90%;
    height: 90%; }
  .fotoTres {
    grid-area: foto3;
    width: 90%;
    height: 90%; }
  .fotoCuatro {
    grid-area: foto4;
    width: 90%;
    height: 90%; }
  .fotoCinco {
    grid-area: foto5;
    width: 90%;
    height: 90%; }
  .fotoSeis {
    grid-area: foto6;
    width: 90%;
    height: 90%; }
  .fotoSiete {
    grid-area: foto7;
    width: 90%;
    height: 90%; }
  .fotoOcho {
    grid-area: foto8;
    width: 90%;
    height: 90%; }
  .fotoNueve {
    grid-area: foto9;
    width: 90%;
    height: 90%; }
  .fotoDiez {
    grid-area: foto10;
    width: 90%;
    height: 90%; }
  .fotoOnce {
    grid-area: foto11;
    width: 90%;
    height: 90%; }
  .fotoDoce {
    grid-area: foto12;
    width: 90%;
    height: 90%; } }

@media only screen and (min-width: 992px) {
  #grilla {
    display: grid;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px 400px;
    grid-template-areas: "foto1 articulo1" "articulo2 foto2";
    justify-content: center;
    grid-column-gap: 20px;
    grid-row-gap: 20px; }
  .divImg__fUno {
    grid-area: foto1;
    width: 80%;
    height: 80%; }
  .divImg__fDos {
    grid-area: foto2;
    width: 80%;
    height: 80%; }
  .grilla__divImg {
    display: flex;
    align-items: center;
    justify-content: center; }
  .grilla__aUno {
    grid-area: articulo1;
    width: 100%;
    height: 100%;
    padding: 0px 20px; }
  .grilla__aDos {
    grid-area: articulo2;
    width: 100%;
    height: 100%;
    padding: 0px 20px; }
  .grilla__aDos h2 {
    text-align: center; }
  .grilla__aDos p {
    word-spacing: 10px; }
  #grillaCandidatos {
    display: grid;
    height: 600px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px;
    grid-template-areas: "formularioAgenda formularioCV";
    justify-content: center;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 16px; }
  .empresas__grilla {
    height: 100%;
    display: grid;
    grid-template-columns: 15% 15% 15% 15%;
    grid-template-rows: 150px 150px 150px;
    grid-template-areas: "foto1 foto2 foto3 foto4" "foto5 foto6 foto7 foto8" "foto9 foto10 foto11 foto12";
    justify-content: center;
    grid-column-gap: 20px;
    grid-row-gap: 20px; }
  .fotoUno {
    grid-area: foto1;
    width: 90%;
    height: 90%; }
  .fotoDos {
    grid-area: foto2;
    width: 90%;
    height: 90%; }
  .fotoTres {
    grid-area: foto3;
    width: 90%;
    height: 90%; }
  .fotoCuatro {
    grid-area: foto4;
    width: 90%;
    height: 90%; }
  .fotoCinco {
    grid-area: foto5;
    width: 90%;
    height: 90%; }
  .fotoSeis {
    grid-area: foto6;
    width: 90%;
    height: 90%; }
  .fotoSiete {
    grid-area: foto7;
    width: 90%;
    height: 90%; }
  .fotoOcho {
    grid-area: foto8;
    width: 90%;
    height: 90%; }
  .fotoNueve {
    grid-area: foto9;
    width: 90%;
    height: 90%; }
  .fotoDiez {
    grid-area: foto10;
    width: 90%;
    height: 90%; }
  .fotoOnce {
    grid-area: foto11;
    width: 90%;
    height: 90%; }
  .fotoDoce {
    grid-area: foto12;
    width: 90%;
    height: 90%; } }
